!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Match-me, baby!
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'common/header'
    = bootstrap_flash
    .container-fluid
      #sidebar.col-md-2.col-xs-1.p-x-0
        = render 'common/sidebar'
      %main.col-md-9.col-xs-11.p-l-2.p-t-2.h-100
        %hr/
        = yield
        %hr/
    = render 'common/footer'
